.view_item {
    font-family: sans-serif;
    text-align: center;
}

.view_item > h1 {
    color: #ffae00
}

.view_item > a {
    text-decoration: underline;
}

.view_item > a:hover { 
    text-decoration: none;
}

.view_item > .content {
    display: flex;
    justify-content: space-around;
}

.attribute {
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    background: #fafafa;
}

.attributes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0px 8px;
    justify-content: center;

}